@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;1,300;1,400&family=Roboto+Serif:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; 
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: #17345d;
}

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: #102542;
  min-height: 80rem;
}

.heading {
  display: flex;
  padding: 2rem;
  justify-content: start;
  align-items: center;
  background-color: #20c20e;
}

.topic {
  font-family: 'Roboto Serif', sans-serif;
  padding: 1rem;
  color: #20c20e;
  background-color:#102542;
  font-size: 4rem;
  font-weight: bold;
  border-radius: .5rem;
}

/* #ee05ff */

.content {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  color: #ee05ff;
  padding: 2rem;
  font-weight: bold;
  font-size: 2.8rem;
}

.content__item {
 margin-top: 1rem; 
}
